*{
    padding: 0px;
    margin: 0px;

 }
 body{
    /* background-image: url(gredientImage.jpg); */
    background: rgba(212, 212, 212,0.4);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }
.icon{
    display: grid;
    margin: auto;
}
.update-control{
    display: none;
}
.image img{
    display: grid;
    margin: auto;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}


.item{
    background-color: rgba(8, 255, 90, 0.6);
    padding: 30px;
    margin: 20px;
    border-radius: 15px;
    font-size: large;
    backdrop-filter: blur(10px);
}
.item textarea{
    text-decoration: bold;
}
@media(max-width:844px)
{
    .item textarea{
        width: 400px;
    }
}

@media(max-width:400px)
{
    .item textarea{
        width: 260px;
    }
}